In [5]:
import tensorflow as tf
from tensorflow.keras.preprocessing.image import ImageDataGenerator

In [6]:
# Set up the data generators
train_dir = 'data/train'
test_dir =  'data/test'
batch_size = 32

In [7]:
train_datagen = ImageDataGenerator(
    rescale=1./255,
    shear_range=0.2,
    zoom_range=0.2,
    horizontal_flip=True)

test_datagen = ImageDataGenerator(rescale=1./255)

In [13]:
train_generator = train_datagen.flow_from_directory(
    train_dir,
    target_size=(224, 224),
    batch_size=batch_size,
    class_mode='binary')

Found 22566 images belonging to 80 classes.

In [6]:
test_generator = test_datagen.flow_from_directory(
    test_dir,
    target_size=(224, 224),
    batch_size=batch_size,
    class_mode='')

Found 6505 images belonging to 80 classes.

In [7]:
# Create the CNN model
model = tf.keras.models.Sequential([
    tf.keras.layers.Conv2D(32, (3, 3), activation='relu', input_shape=(224, 224, 3)),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Conv2D(64, (3, 3), activation='relu'),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Conv2D(128, (3, 3), activation='relu'),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Conv2D(128, (3, 3), activation='relu'),
    tf.keras.layers.MaxPooling2D((2, 2)),
    tf.keras.layers.Flatten(),
    tf.keras.layers.Dense(512, activation='relu'),
    tf.keras.layers.Dense(80, activation='softmax')
])

In [8]:
# Compile the model
model.compile(optimizer='adam',
              loss='categorical_crossentropy',
              metrics=['accuracy'])

In [9]:
# Train the model
history = model.fit(train_generator,
                    steps_per_epoch=train_generator.n // batch_size,
                    epochs=10,
                    validation_data=test_generator,
                    validation_steps=test_generator.n // batch_size)

Epoch 1/10
705/705 [==============================] - 3997s 6s/step - loss: 3.7412 - accuracy: 0.1227 - val_loss: 4.0650 - val_accuracy: 0.0978
Epoch 2/10
705/705 [==============================] - 2909s 4s/step - loss: 3.3600 - accuracy: 0.1848 - val_loss: 3.5733 - val_accuracy: 0.1603
Epoch 3/10
705/705 [==============================] - 2948s 4s/step - loss: 3.0758 - accuracy: 0.2353 - val_loss: 3.4588 - val_accuracy: 0.1817
Epoch 4/10
705/705 [==============================] - 2607s 4s/step - loss: 2.8466 - accuracy: 0.2772 - val_loss: 3.4132 - val_accuracy: 0.1855
Epoch 5/10
705/705 [==============================] - 2321s 3s/step - loss: 2.6439 - accuracy: 0.3225 - val_loss: 3.2823 - val_accuracy: 0.2061
Epoch 6/10
705/705 [==============================] - 2109s 3s/step - loss: 2.4508 - accuracy: 0.3620 - val_loss: 3.2689 - val_accuracy: 0.2326
Epoch 7/10
705/705 [==============================] - 2729s 4s/step - loss: 2.2776 - accuracy: 0.3932 - val_loss: 3.1664 - val_accuracy: 0.2509
Epoch 8/10
705/705 [==============================] - 2613s 4s/step - loss: 2.1000 - accuracy: 0.4342 - val_loss: 3.3294 - val_accuracy: 0.2468
Epoch 9/10
705/705 [==============================] - 2665s 4s/step - loss: 1.9403 - accuracy: 0.4670 - val_loss: 3.3680 - val_accuracy: 0.2466
Epoch 10/10
705/705 [==============================] - 2741s 4s/step - loss: 1.8187 - accuracy: 0.4934 - val_loss: 3.4946 - val_accuracy: 0.2462

In [10]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv2d (Conv2D)             (None, 222, 222, 32)      896

 max_pooling2d (MaxPooling2D  (None, 111, 111, 32)     0
 )

 conv2d_1 (Conv2D)           (None, 109, 109, 64)      18496

 max_pooling2d_1 (MaxPooling  (None, 54, 54, 64)       0
 2D)

 conv2d_2 (Conv2D)           (None, 52, 52, 128)       73856

 max_pooling2d_2 (MaxPooling  (None, 26, 26, 128)      0
 2D)

 conv2d_3 (Conv2D)           (None, 24, 24, 128)       147584

 max_pooling2d_3 (MaxPooling  (None, 12, 12, 128)      0
 2D)

 flatten (Flatten)           (None, 18432)             0

 dense (Dense)               (None, 512)               9437696

 dense_1 (Dense)             (None, 80)                41040

=================================================================
Total params: 9,719,568
Trainable params: 9,719,568
Non-trainable params: 0
_________________________________________________________________

In [11]:
# Evaluate the model
test_loss, test_acc = model.evaluate(test_generator, verbose=2)
print('Test accuracy:', test_acc)

204/204 - 377s - loss: 3.4941 - accuracy: 0.2464 - 377s/epoch - 2s/step
Test accuracy: 0.2464258223772049

In [12]:
import joblib
joblib.dump(model, 'model.pkl')

['model.pkl']

In [ ]:
import numpy as np
from tensorflow.keras.preprocessing import image

def predict_image_class(image_path, model):
    # Load the image and convert it to a numpy array
    img = image.load_img(image_path, target_size=(224, 224))
    img_arr = image.img_to_array(img)
    img_arr = np.expand_dims(img_arr, axis=0)

    # Scale the pixel values to be between 0 and 1
    img_arr /= 255.0

    # Make the prediction
    predictions = model.predict(img_arr)

    # Get the predicted class label
    class_index = np.argmax(predictions)
    class_label = list(train_generator.class_indices)[class_index]

    return class_label

In [31]:
predict_image_class('bear.jpg',model)

1/1 [==============================] - 0s 167ms/step

'Monkey'

In [29]:
list(train_generator.class_indices)[5]

'Canary'

In [28]:
train_generator.class_indices

{'Bear': 0,
 'Brown bear': 1,
 'Bull': 2,
 'Butterfly': 3,
 'Camel': 4,
 'Canary': 5,
 'Caterpillar': 6,
 'Cattle': 7,
 'Centipede': 8,
 'Cheetah': 9,
 'Chicken': 10,
 'Crab': 11,
 'Crocodile': 12,
 'Deer': 13,
 'Duck': 14,
 'Eagle': 15,
 'Elephant': 16,
 'Fish': 17,
 'Fox': 18,
 'Frog': 19,
 'Giraffe': 20,
 'Goat': 21,
 'Goldfish': 22,
 'Goose': 23,
 'Hamster': 24,
 'Harbor seal': 25,
 'Hedgehog': 26,
 'Hippopotamus': 27,
 'Horse': 28,
 'Jaguar': 29,
 'Jellyfish': 30,
 'Kangaroo': 31,
 'Koala': 32,
 'Ladybug': 33,
 'Leopard': 34,
 'Lion': 35,
 'Lizard': 36,
 'Lynx': 37,
 'Magpie': 38,
 'Monkey': 39,
 'Moths and butterflies': 40,
 'Mouse': 41,
 'Mule': 42,
 'Ostrich': 43,
 'Otter': 44,
 'Owl': 45,
 'Panda': 46,
 'Parrot': 47,
 'Penguin': 48,
 'Pig': 49,
 'Polar bear': 50,
 'Rabbit': 51,
 'Raccoon': 52,
 'Raven': 53,
 'Red panda': 54,
 'Rhinoceros': 55,
 'Scorpion': 56,
 'Sea lion': 57,
 'Sea turtle': 58,
 'Seahorse': 59,
 'Shark': 60,
 'Sheep': 61,
 'Shrimp': 62,
 'Snail': 63,
 'Snake': 64,
 'Sparrow': 65,
 'Spider': 66,
 'Squid': 67,
 'Squirrel': 68,
 'Starfish': 69,
 'Swan': 70,
 'Tick': 71,
 'Tiger': 72,
 'Tortoise': 73,
 'Turkey': 74,
 'Turtle': 75,
 'Whale': 76,
 'Woodpecker': 77,
 'Worm': 78,
 'Zebra': 79}

In [32]:
predict_image_class('monkey.jpg',model)

1/1 [==============================] - 0s 291ms/step

'Snail'

In [33]:
predict_image_class('monkeyb.jpg',model)

1/1 [==============================] - 0s 372ms/step

'Monkey'

In [34]:
predict_image_class('centipede.jpg',model)

1/1 [==============================] - 0s 109ms/step

'Spider'

In [35]:
predict_image_class('centipedeb.jpg',model)

1/1 [==============================] - 0s 57ms/step

'Centipede'

In [36]:
model2 = joblib.load('model.pkl')
model2

In [37]:
predict_image_class('centipedeb.jpg',model2)

1/1 [==============================] - 1s 858ms/step

'Centipede'

In [40]:
predict_image_class('cattle.jpg',model2)

1/1 [==============================] - 0s 120ms/step

'Tiger'

In [41]:
predict_image_class('cattleb.jpg',model2)

1/1 [==============================] - 0s 40ms/step

'Horse'

In [42]:
predict_image_class('rhino.jpg',model2)

1/1 [==============================] - 0s 85ms/step

'Rhinoceros'

In [ ]:
predict_image_class('goldfish.jpg',model2)

In [2]:
pwd

'C:\\Users\\Admin 21\\Downloads\\Animal Image CNN Model'

In [40]:
import pandas as pd
lt = train_generator.class_indices
df = pd.DataFrame.from_dict(lt, orient='index').reset_index()
df

         index   0
0         Bear   0
1   Brown bear   1
2         Bull   2
3    Butterfly   3
4        Camel   4
..         ...  ..
75      Turtle  75
76       Whale  76
77  Woodpecker  77
78        Worm  78
79       Zebra  79

[80 rows x 2 columns]

In [44]:
df['index'][39]

'Monkey'

In [45]:
lt

{'Bear': 0,
 'Brown bear': 1,
 'Bull': 2,
 'Butterfly': 3,
 'Camel': 4,
 'Canary': 5,
 'Caterpillar': 6,
 'Cattle': 7,
 'Centipede': 8,
 'Cheetah': 9,
 'Chicken': 10,
 'Crab': 11,
 'Crocodile': 12,
 'Deer': 13,
 'Duck': 14,
 'Eagle': 15,
 'Elephant': 16,
 'Fish': 17,
 'Fox': 18,
 'Frog': 19,
 'Giraffe': 20,
 'Goat': 21,
 'Goldfish': 22,
 'Goose': 23,
 'Hamster': 24,
 'Harbor seal': 25,
 'Hedgehog': 26,
 'Hippopotamus': 27,
 'Horse': 28,
 'Jaguar': 29,
 'Jellyfish': 30,
 'Kangaroo': 31,
 'Koala': 32,
 'Ladybug': 33,
 'Leopard': 34,
 'Lion': 35,
 'Lizard': 36,
 'Lynx': 37,
 'Magpie': 38,
 'Monkey': 39,
 'Moths and butterflies': 40,
 'Mouse': 41,
 'Mule': 42,
 'Ostrich': 43,
 'Otter': 44,
 'Owl': 45,
 'Panda': 46,
 'Parrot': 47,
 'Penguin': 48,
 'Pig': 49,
 'Polar bear': 50,
 'Rabbit': 51,
 'Raccoon': 52,
 'Raven': 53,
 'Red panda': 54,
 'Rhinoceros': 55,
 'Scorpion': 56,
 'Sea lion': 57,
 'Sea turtle': 58,
 'Seahorse': 59,
 'Shark': 60,
 'Sheep': 61,
 'Shrimp': 62,
 'Snail': 63,
 'Snake': 64,
 'Sparrow': 65,
 'Spider': 66,
 'Squid': 67,
 'Squirrel': 68,
 'Starfish': 69,
 'Swan': 70,
 'Tick': 71,
 'Tiger': 72,
 'Tortoise': 73,
 'Turkey': 74,
 'Turtle': 75,
 'Whale': 76,
 'Woodpecker': 77,
 'Worm': 78,
 'Zebra': 79}

In [47]:
df.to_csv('animaldict.csv')

In [48]:
df = pd.read_csv("animaldict.csv")
df['index'][39]

'Monkey'

In [ ]:
df